
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="text-success head">Document Manager</h1>
            </div>
            <div class="col-lg-4">
                <br>
                <br>
                <button class="btn btn-success btn-md" ng-click="fileUpload()"><span class="glyphicon glyphicon-upload">&nbsp;</span><span>Upload New Document</span></button>
            </div>
        </div>
    <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th>Document Name</th>
            <th>Availability</th>
            <th>Action</th>
            <th>Use</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="document in documentList">
            <td ng-bind="document.Name"></td>
            <td ng-bind="document.Availbility ? 'Yes' : 'No'"></td>
            <td>
                <a ng-href="{{downloadLink}}{{document.RelativePath}}" ng-show="document.Availbility">Preview
                </a>
                <span ng-show="document.Availbility"> | </span>
                <a href="" ng-click="fileUpload(document)">Upload
                </a>
                <span ng-show="document.Availbility"> | </span>
                <a ng-href="{{downloadLink}}{{document.RelativePath}}" download="{{document.Name}}" ng-show="document.Availbility">Download
                </a>
            </td>
            <td><input type="checkbox"  ng-model="showPopover" popover-placement="left"
                       popover-template="popover.templateUrl" popover-title="Sample"/></td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-lg-6"></div>

    </div>
</div>

<script type="text/ng-template" id="myPopoverTemplate.html">
    <div>
        <div class="form-group">
            <div class="form-group">
                <label>Last Updated Date:</label>
                <span ng-bind-template="{{document.Updated_Date ? document.Updated_Date : 'Not yet' | date}} "></span>
            </div>
            <label >Comments</label>
            <input type="text" class="form-control" ng-model="document.Comments">
        </div>
        <button class="btn btn-primary btn-sm" id="savePopover" ng-click="saveComments(document)">Save</button>
        <span ng-show="commentSaved">
            &nbsp;&nbsp;<span class="glyphicon glyphicon-saved"></span><span>Saved</span>
        </span>
   </div>
</script>