<div class="modal-header">
    <h3 class="modal-title">Document Upload</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <!--<input type="file"  class="form-control" placeholder="Choose file" onchange="angular.element(this).scope().fileChanged(this);">-->
        <button class="btn btn-primary" ngf-select ng-model="files">Choose File</button>
    </div>
    <div class="form-group">
        <label>Document Type</label>
        <select class="form-control" ng-model="documentType" ng-options="item.id as item.name for item in documentTypes">
        </select>
    </div>
    <div class="form-group">
        <label>Display Name</label>
        <input type="text" class="form-control" ng-model="selectedFileName" />
        </select>
    </div>
    <div class="form-group">
        <div class="progress" style="margin-bottom: 0;">
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': progressPercentage + '%' }"></div>
        </div>
    </div>
    <button class="btn btn-default" ng-click="UploadSelectedFile(files, documentType, files[0].name)">Upload</button>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Close</button>
</div>
